<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TASK MANAGER</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">TASK MANAGER</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>タスク編集</h1>
      </div>
      <div class="item-form-wrapper">
        <p class="form-label">タスク<span class="required">※</span></p>
        <form action="/update_task/<%=task.id%>" method="post">
          <input type="text" name="taskName" required placeholder="10文字以内" maxlength="10" value="<%=task.name%>"><br></br>
          <p class="form-label">説明</p>
          <textarea id="message" name="taskAbout" rows="5" cols="40" placeholder="<%=task.about%>"><%=task.about%></textarea><br></br>
          <p class="form-label">URL</p>
          <input type="url" name="taskUrl" value="<%=task.url%>"><br></br>
          <p class="form-label">期限<span class="required">※</span></p>
          <input type="date" name="taskDl" required value="<%= new Date(new Date(task.dl).getTime() + 9 * 60 * 60 * 1000).toISOString().split('T')[0] %>">
          <input type="submit" value="更新する">
        </form>
      </div>
      <a href="/profile_kyusyu_member/<%= task.member_id %>" class="cancel-button"></span>もどる</a>
    </div>
  </body>
</html>